[submodule "dependency/cms"]
	path = dependency/cms
	url = https://github.com/FrancescooM/olimpiadicms.git
[submodule "dependency/olimpiadicms"]
	path = dependency/olimpiadicms
	url = https://github.com/FrancescooM/olimpiadicms.git
[submodule "dependency/--force"]
	path = dependency/--force
	url = https://github.com/FrancescooM/olimpiadicms.git
[submodule "olimpiadicms"]
	path = olimpiadicms
	url = https://github.com/FrancescooM/olimpiadicms
